<div class="style2">
    <textarea id="se_quickSlideID" rows="20" style="width: 390px" class="textareaStyle4songslide"></textarea><textarea id="se_quickSlideID_2" rows="20" style="width: 390px" class="textareaStyle4songslide"></textarea><br>
    <i>Seperate the slides with 2 new lines. </i><br><br><br>
    <input type="button" id="se_generateID" value=" GENERATE SLIDES ">

    <input type="button" id="se_generateMunglishID" value=" TRANSLITERATE ">
    <input type="button" id="se_generateCancelID" value=" CANCEL ">
</div>