<!-- MenuBar::Content::Begin -->
<div class="ui mini menu">
    <!-- MenuBar::MenuItems::Begin -->
    <!-- MenuItem: Present -->
    <a
        id="icon_present"
        class="item"
        data-tooltip="Presentation"
        data-position="right center"
    >
        <!-- <i class="gamepad icon"></i> -->
        <img src="icons/images/32/present.png" alt=""/>
    </a>
    <!-- MenuItem: Blank -->
    <a
        id="icon_blank"
        class="item"
        data-tooltip="Blank Presentation"
        data-position="right center"
    >
        <img src="icons/images/32/blank.png" alt=""/>
    </a>
    <!-- MenuItem: Theme -->
    <a
        id="icon_theme"
        class="item"
        data-tooltip="Show Theme"
        data-position="right center"
    >
        <img src="icons/images/32/theme.png" alt=""/>
    </a>
    <!-- MenuItem: Logo -->
    <a
        id="icon_logo"
        class="item"
        data-tooltip="Show Logo"
        data-position="right center"
    >
        <img src="icons/images/32/logo.png" alt=""/>
    </a>
    <!-- MenuItem: Close -->
    <a
        id="icon_close"
        class="item"
        data-tooltip="Close Presentation"
        data-position="right center"
    >
        <img src="icons/images/32/close.png" alt=""/>
    </a>
    <!-- MenuItem: Previous -->
    <a
        id="icon_prev"
        class="item"
        data-tooltip="Previous Slide"
        data-position="right center"
    >
        <img src="icons/images/32/left.png" alt=""/>
    </a>
    <!-- MenuItem: Next -->
    <a
        id="icon_next"
        class="item"
        data-tooltip="Next Slide"
        data-position="right center"
    >
        <img src="icons/images/32/right.png" alt=""/>
    </a>
    <!-- MenuBar::MenuItems::End -->

    <!-- MenuBar::ExtraMenuItems::Begin -->
    <!-- TODO: fit heights of ExtraMenuItems within the Content Box -->
    <div id="verses_menu" class="menu">
        <div id="book_name" class="item">
            <!-- Bible book Name-->
        </div>

        <div class="item">
            <a
                id="bibleAddScheduleButton"
                class="item"
                data-tooltip="Add to Schedule"
                data-position="left center"
            >
                <i class="add icon"></i>
            </a>
        </div>
    </div>

    <div id="lyrics_menu" class="menu">
        <div class="item">
            <div
                    id="ytubeid"
                    class="item"
                    data-tooltip="YouTube"
                    data-position="left center"
            >
                <i class="video icon"></i>
            </div>
            <div
                    id="songAddScheduleButton"
                    class="item"
                    data-tooltip="Add to Schedule"
                    data-position="left center"
            >
                <i class="add icon"></i>
            </div>
        </div>
    </div>

    <div id="notificationMenu" class="item"></div>
    <!-- MenuBar::ExtraMenuItems::End -->
</div>
<!-- MenuBar::Content::End -->