<div id="helpID" class="generalDIV">
  <div class="generaltext">
    {{#with app}}
      <p>{{name}} {{version}}</p>
    {{/with}}
    {{#with runtime}}
      <p>{{name}} {{version}}</p>
    {{/with}}
  </div>
</div>
