<!-- **** TITLE SEQUENCE **** -->
<div class="ui grid">
  <div class="ten wide column">
    <p class="h5" id="ly_name"></p>
    <small class="h6 text-muted" id="ly_name2"></small>
  </div>
  <!--<div class="five wide column">

  </div>-->
  <div class="one wide column">

  </div>
  <div class="one wide column">
    <label for="ly_sequence" class="invisible">Sequence</label>
  </div>
  <div class="four wide column">
    <input type="text" class="form-control form-control-sm invisible" id="ly_sequence" placeholder="">
  </div>
</div>


<!-- **** BUTTONS **** -->
<div class="ui grid">
  <div class="sixteen wide column">
    <button type="button" class="btn btn-secondary btn-sm" id="ly_edit">EDIT</button>
    <button type="button" class="btn btn-secondary btn-sm" id="ly_add2schedule">SCHEDULE</button>
    <button type="button" class="btn btn-secondary btn-sm" id="ly_present">PRESENT</button>
    <button type="button" class="btn btn-secondary btn-sm" id="ly_chords">CHORDS</button>
  </div>
</div>


<!-- **** SLIDES **** -->
<div class="ui grid">
  <div class="column border border-primary">
    <div id="ly_slide" class="ly_slide_class"></div>
  </div>
</div>



<!-- **** TAGS **** -->
<div class="ui grid">
  <div class="ten wide column" id="ly_tags">
  </div>
</div>



<!-- **** ADDITONAL INFO **** -->
<div class="ui grid">
  <div class="three wide column">
    <div class="form-group row">
      <label for="ly_cat" class="col-sm col-form-label font-weight-bold">Category</label>
      <label type="text" class="col-sm col-form-label" id="ly_cat"> </label>
    </div>
  </div>
  <div class="two wide column">
    <div class="form-group row">
      <label for="ly_key" class="col-sm col-form-label font-weight-bold">Key</label>
      <label type="text" class="col-sm col-form-label" id="ly_key"> </label>
    </div>
  </div>
  <div class="three wide column">
    <div class="form-group row">
      <label for="ly_copy" class="col-sm col-form-label font-weight-bold">Lyrics By</label>
      <!--<label type="text" class="col-sm col-form-label" id="ly_copy"> </label>-->
      <button type="button" class="btn btn-outline-secondary btn-sm" id="ly_copy"></button>
    </div>
  </div>
  <div class="eight wide column">
    <div class="form-group row">
      <label for="ly_notes" class="col-sm col-form-label font-weight-bold">Notes</label>
      <div type="text" class="col-sm col-form-label" id="ly_notes"> </div>
    </div>
  </div>
</div>
