<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <version1>1</version1>
  <version2>2</version2>
  <bkgndIndex>0</bkgndIndex>
  <topMargin>50</topMargin>
  <bottomMargin>50</bottomMargin>
  <leftMargin>50</leftMargin>
  <rightMargin>50</rightMargin>
  <singleVersion>false</singleVersion>
  <navduallang>true</navduallang>
  <navFontSize>14</navFontSize>
  <stageScreenEnable>false</stageScreenEnable>
  <mainScreenEnable>true</mainScreenEnable>
  <stagescreenstyle>0</stagescreenstyle>
  <screensel>1</screensel>
  <stagescreensel>0</stagescreensel>
  <maxFontSize>80</maxFontSize>
  <enableTransition>true</enableTransition>
  <enableShadow>true</enableShadow>
  <enableTitle>false</enableTitle>
  <textColor>FFFFFF</textColor>
  <textColor2>FFFFFF</textColor2>
  <solidBkgndColor>000000</solidBkgndColor>
  <gradColor1>000000</gradColor1>
  <gradColor2>FFFFFF</gradColor2>
  <gradOrient>0</gradOrient>
  <motionBkgndIndex>0</motionBkgndIndex>
  <bkgndType>3</bkgndType>
  <textOrient>0</textOrient>
  <justification>center</justification>
  <version6>0</version6>
  <showdatetime>true</showdatetime>
  <showvvlogo>true</showvvlogo>
  <showcustomlogo>true</showcustomlogo>
  <logotext1></logotext1>
  <logotext2></logotext2>
  <logoFilename></logoFilename>
  <songtextorient>0</songtextorient>
  <showprimaryfont>false</showprimaryfont>
  <svParameters>0.3|20|false|true|true|0|true|0|58|16|false|false|false|false|false|false</svParameters>
  <svMessage></svMessage>
  <songDBVersion>2</songDBVersion>
  <bibleDBVersion>2</bibleDBVersion>
  <chordsDBVersion>2</chordsDBVersion>
  <versionNumber>7</versionNumber>
  <booknamestyle>4</booknamestyle>
  <listinenglish>true</listinenglish>
  <presentationOnTop>false</presentationOnTop>
  <transparentEnable>false</transparentEnable>
  <show2lines>false</show2lines>
  <hideStanzaNumber>false</hideStanzaNumber>
  <p_format_multiplelines>true</p_format_multiplelines>
  <taglist>BAPTISM,BENEDICTION,CHILDREN,CHRISTIANLIFE,CLASSICAL,COMFORT,DEDICATION,ENGLISH,EVENING,EXCEL,EXCEL2022,FAITH,FAMILY,FUNERAL,HEALING,HI-ACTIONSONGS,HI-CHILDREN,HI-QAWWALI,HI-WORSHIP,HINDI-ML,HOLYCOMMUNION,HOPE,LOGOS,MAL-ENG,MISSION,ML-HINDI,ML-TAMIL,MORNING,PAMALAI-TA,PARASYAYOGAM,PRAISE,PRAYER,REVELATION,REVIVAL,SECONDCOMING,SLOW,TAMIL-ML,TRUST,WEDDING,WORSHIP,YOGARAMBHAM</taglist>
  <myhostname>localhost</myhostname>
</configuration>
