<!-- **** Build with Semanitc UI **** -->


<div class="ui form container segment">

	<div id="generalPanelDIV_delete" class="ui grid bibleEditDIV">

		<div class="column">
            <div class="form-group row field">
				<label>Reference</label>
				<div id="currentVerseRefDiv"></div>
			</div>

			<div class="form-group row field">
				<label>Current Verse Text</label>
				<div rows="3" id="currentVerseTextDiv"></div>
			</div>

            <div class="form-group row field">
				<label>Updated Verse Text</label>
				<textarea rows="3" id="updatedVerseTextDiv"></textarea>
			</div>

            <div class="form-group row field">
				<button class="ui primary button" id="updateVerseTextButton" >UPDATE</button>
                <button class="ui primary button" id="cancelVerseTextButton" >CANCEL</button>
			</div>

		</div>

	</div>

</div>
