<p> PRESENTATION </p><br>
<p> 
  <input type="checkbox" name="checkbox" value="checkbox">
  Enable Dual Screen support</p>
<br><hr>

<p>MARGIN</p><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="15%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="50%">TOP</td>
          <td width="50%"><input name="presentConfigMarginTop" type="text" id="presentConfigMarginTop" value="50" size="6"></td>
        </tr>
        <tr>
          <td>BOTTOM</td>
          <td><input name="presentConfigMarginBottom" type="text" id="presentConfigMarginBottom" value="50" size="6"></td>
        </tr>
        <tr>
          <td>LEFT</td>
          <td><input name="presentConfigMarginLeft" type="text" id="presentConfigMarginLeft" value="50" size="6"></td>
        </tr>
        <tr>
          <td>RIGHT</td>
          <td><input name="presentConfigMarginRight" type="text" id="presentConfigMarginRight" value="50" size="6"></td>
        </tr>
      </table>
    </td>
    <td>IMAGE</td>
  </tr>
</table><br>
<p>
  <input name="presentConfigSaveButton" type="button" id="presentConfigSaveButton" value=" SAVE ">
</p>
